<%# <form action="/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form> %>

<form class="container text-center" action="/answer" data-turbo="false">
  <h1>Stupid Coach</h1>
  <div class="col-auto">
    <div class="input-group m-3">
      <input type="text" class="form-control" placeholder="Ask something" name="answer">
      <input class="btn btn-outline-secondary" type="submit" value="Ask!">
    </div>
  </div>
</form>
